.clr {
  clear: both;
}
m0 {
  margin: 0px;
}
p0 {
  padding: 0px;
}
body {
  font-family: W_yekan;
}
#container {
  width: 100%;
  background-color: #ffffff;
}

.fla-4 {
  background-color: #fffccf;
  height: 477px;
}
.fla4-1 {
  background-color: #3ecadf;
  height: 50px;
  margin-bottom: 5px;
  color: #ffffff;
  background-image: url(../images/img-11.png);
  background-position: right center;
  background-repeat: no-repeat;
}
.fla4-1 .fla4-1-span1 {
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  float: right;
  line-height: 50px;
  margin-right: 10%;
}
.fla4-1 .fla4-1-span2 {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  float: left;
  line-height: 50px;
  margin-left: 32px;
}
@media only screen and (max-width: 600px) {
  .fla4-1 .fla4-1-span2 {
    display: none;
  }
  .fla4-1 .fla4-1-span1 {
    margin-right: 35%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .fla4-1 .fla4-1-span1 {
    margin-right: 15%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 990px) {
  .fla4-1 .fla4-1-span1 {
    margin-right: 12%;
  }
}

.fla4-2 {
  background-color: #ffffff;
  height: 340px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.col-md-3 {
  width: 25%;
}
.text_hover_image {
  margin-top: 25px;
}
.border_hover {
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
  top: 6px;
  position: absolute;
  right: 6px;
}
.product {
  margin-bottom: 10px;
}
.product2 .productInner {
  text-align: center;
  text-transform: uppercase;
  height: 200px !important;
  overflow: hidden;
  width: 200px !important;
}
.m0 {
  margin: 0;
}
.product2 .productInner .imgHov {
  position: relative;
  width: 200px !important;
  height: 200px !important;
}
.product2 .productInner {
  text-align: center;
  text-transform: uppercase;
  height: 200px !important;
  overflow: hidden;
  width: 200px !important;
}
.product2 .productInner .imgHov .hovArea {
  position: absolute;
  top: 130px;
  left: 131px;
  width: 0px;
  height: 0px;
  opacity: 0.8;
  overflow: hidden;
  background: #70cbc2 none repeat scroll 0px 0px;
  padding-top: 85px;
  transition: all 300ms ease-in-out 0s;
}
.product2 .productInner .imgHov .hovArea .icons {
  margin-bottom: 20px;
  margin-top: 30px !important;
  transition: all 300ms ease-in-out 0s;
  transition-delay: 300ms;
}
.product2 .productInner .imgHov .hovArea .icons ul {
  margin: 0;
  font-size: 16px;
  line-height: 40px;
}
.product2 .productInner .imgHov .hovArea .icons ul li a {
  padding: 0;
  width: 40px;
  border: 2px solid #fff;
  display: block;
  color: #222222;
}
.product2 {
  margin-bottom: 0;
  margin-left: 3px !important;
}
.product2 .productInner {
  text-align: center;
  text-transform: uppercase;
  height: auto !important;
  overflow: hidden;
  width: 232px !important;
  border: 1px solid #dddddd;
  background-color: #f2f2f2;
  padding-bottom: 15px;
}
.product2 .productInner .imgHov {
  position: relative;
  width: 232px !important;
  height: 232px !important;
  padding: 15px;
}
.product2 .productInner .imgHov img {
  width: 200px !important;
  height: 200px !important;
  border: 1px solid #e3e3e3;
  margin: 0 auto;
}
.more_info_darbiran2 a {
  text-decoration: none;
}
.description_news1 a {
  text-decoration: none;
  color: #4c4c4c;
}
.description_article_title a {
  color: rgba(77, 77, 77, 0.68);
  text-decoration: none;
}
.description_main p {
  height: 195px;
  overflow: hidden;
}
#box1-30 {
  background-image: url("../images/back_a.png");
  float: right;
  height: 275px;
  padding-bottom: 20px;
  position: relative;
  width: 60%;
  z-index: 999 !important;
}
.about {
  color: #ccc;
  direction: rtl;
  float: left;
  position: relative;
  text-align: justify;
  width: 495px;
  z-index: 999;
}
.about p {
  color: #292929;
  font-family: "W_yekan";
  font-size: 13px;
  line-height: 1.8em;
}
.header_top {
  height: 650px;
}
#slider .sliderCont .slides .text_lines {
  height: 165px;
  background: rgba(255, 252, 252, 0.37) none repeat scroll 0% 0%;
  color: #fff;
  position: absolute;
  top: calc(50% - 80px);
  width: 100%;
}

/*owl-carosel*/

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
#box2-first2 .owl-carousel .owl-item {
  direction: rtl;
  margin-right: 80px;
  width: 300px !important;
  height: 370px !important;
}
.news-img {
  float: right;
  width: 200px;
  height: 200px;
}
.news-title a {
  text-decoration: none;
  color: #008ae3;
}
.news-item {
  padding-top: 10px;
}
.date-title {
  color: #333;
  position: absolute;
  right: 155px;
  bottom: 5px;
}
.news-link {
  text-decoration: none;
  color: #008ae3;
  font-family: yekan;
  font-size: 12px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.wrapper {
  position: relative;
  width: 300px;
}
.item1 .wrapper2:nth-child(1) {
  /*	padding-bottom: 5px;*/
  margin-top: 0 !important;
}
.news-top {
  height: 61px;
}
.pro-title-text {
  font-size: 12px;
  color: #350d0d;
  direction: rtl;
  line-height: 32px;
  padding-right: 10px;
}
.owl-prev {
  cursor: pointer;
  position: absolute;
  content: "\f053";
  display: block;
  height: 34px;
  left: 140px;
  top: -52px;
  width: 34px;
  overflow: hidden;
  /*text-indent: -999px;*/
  font-family: "FontAwesome";
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  background-color: rgba(255, 255, 255, 0);
}
.owl-prev::before {
  content: "\f053";
  font-family: "FontAwesome";
}
.owl-next:hover,
.owl-prev:hover {
  color: #d73621;
  transition: all 0.5s ease;
}
#owl-prev {
  position: relative;
}
.owl-next {
  cursor: pointer;
  position: absolute;
  display: block;
  height: 34px;
  left: 186px;
  top: -52px;
  width: 34px;
  overflow: hidden;
  /*text-indent: -999px;*/
  font-family: "FontAwesome";
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  background-color: rgba(255, 255, 255, 0);
}
.owl-next::before {
  content: "\f054";
  font-family: "FontAwesome";
}
.item1 .wrapper2:nth-child(1) .wrapper {
  margin-top: 1px !important;
  margin-right: 10px;
}
.owl-item:nth-child(3n + 1) {
  /*margin-left: 5px;*/
}
.owl-item:nth-child(3n + 2) {
}
.owl-item:nth-child(3n + 3) {
}
/*.owl-item{ width:245px !important}*/
/*.owl-item:nth-child(2n+1){ left:0px; position:relative}*/
.text_1_pro {
  text-align: center;
}
.underline {
  width: 35px;
  height: 2px;
  background-color: #70cbc2;
  margin: 0 auto;
  margin-top: 6px;
}
.more_info_carosel2 {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  /*padding:5px 5px;*/
  text-align: right;
  position: absolute;
  top: 155px;
  margin-left: 17px;
  transition: all 1s ease;
}
.more_info_carosel2 .mic-div {
  width: 198px;
  height: 40px;
  color: #ffffff;
  font-size: 14px;
  background-color: rgba(81, 81, 81, 0.83);
  padding: 5px 10px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.more_info_carosel2 img {
  float: left;
  vertical-align: central;
  margin-left: 10px;
}
.more_info_carosel2 strong {
  float: right;
  vertical-align: central;
  font-weight: normal;
}

#box2-first3 {
  width: 1200px;
  margin: 0 auto;
}
.col-sm-3 {
  padding-left: 0px;
}
.text_name {
  text-align: center;
  margin-left: 16px;
}

/* #owl3 .text_name p:first-child {
  height: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  direction: rtl;
} */
.text_name .pro-txt-middle {
  display: inherit !important;
}
.tn-div {
  width: 200px;
  height: 40px;
  color: #454234;
  display: table-cell;
  font-size: 13px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border: 1px dashed #e3e3e3;
}
#owl3 .tn-div a {
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.tn-div a {
  width: 200px;
  display: table-cell;
  text-align: center;
}
